/*
*   yellow:
*   background: #fcfcfc
*/
#menu {
  display: flex;
  flex-direction: column;
  width: 17%;
  background-color: #3d4751;
  height: 100vh;
}

#menu-header {
  background-color: #363d46;
  width: 100%;
  height: 60px;
  color: white;
}

#menu-header p {
  width: max-content;
  margin: auto;
  margin-top: 22px;
}

.menu-groups {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #848d98;
  border-bottom: 1px solid #48515c;
  font-family: Avenir;
  font-size: 0.85em;
}

.menu-groups:last-child {
  border-bottom: none !important;
}

.menu-item {
  margin-bottom: 8px;
  text-decoration: none;
}

.menu-item:last-child {
  margin-bottom: none !important;
}

#header {
  background-color: #ecb02e;
  height: 60px;
  width: 83%;
  margin-left: 17%;
  position: fixed;
  top: 0;
}

#upgrade-button {
  margin: auto;
}

#upgrade-button button {
  width: 85%;
  background-color: transparent;
  border: 1px solid #8dc5ce;
  border-radius: 3px;
  color: #8dc5ce;
  height: 35px;
}
